{:paths ["src" "resources"]
 :deps  {org.clj-commons/hickory {:mvn/version "0.7.7"}
         hiccup/hiccup           {:mvn/version "2.0.0"}}
 :tasks {:requires         ([clojure.string :as str]
                            [babashka.tasks :refer [shell]])
         cljdocset         {:requires ([cljdocset.cli])
                            :task     (apply cljdocset.cli/-main *command-line-args*)}
         dev               (clojure "-M:repl/cider:dev:test")
         test              (apply clojure "-M:test:kaocha" *command-line-args*)
         fmt               (shell "cljfmt -v fix src test dev")
         lint.copy-configs (let [cp (-> (shell {:out :string} "clojure -Spath -M:test:dev") :out str/trim)]
                             (shell (str "clj-kondo --lint " cp " --dependencies --copy-configs --skip-lint")))
         lint.kondo        (shell "clj-kondo" *command-line-args*)
         lint              (shell (str "clj-kondo" " --fail-level error"
                                       (if (seq *command-line-args*)
                                         (str " --lint " (first *command-line-args*))
                                         " --lint src dev test")))}}
